body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #548687;
}
.container{
    display: flex;
    height: 60vmin;
    width: 60vmin;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    color: #b0413e;
    font-size: 10vmin;
    border: none;
    box-shadow: 0 0 1rem rgba(0,0,0,0.1);
    border-radius: 10px;
    background-color: #ffffc7;
}
#reset{
    margin-top: 20px;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 10px;
}
.announce{
    color: yellow;
    font-weight: bolder;
    text-decoration: underline;
    font-size: 25px;
}